@import 'tailwindcss';

@theme {
  /* Brand Colors */
  --color-msq-purple: #7d3c98;
  --color-msq-purple-deep: #430f4a;
  --color-msq-purple-rich: #81298c;
  --color-msq-gold: #b49c6d;
  --color-msq-gold-light: #cfb484;

  /* Fonts */
  --font-bebas: 'Bebas Neue', sans-serif;
  --font-lato: 'Lato', sans-serif;
}
